.jiddiy_credit {
  display: flex;
 gap: 10px;
 
  padding: 20px 0px;

  @media (max-width: 880px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
.banner_credit {
  max-width: 600px;
  width: 100%;
  background: #499dff;
  border-radius: 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  h3 {
    max-width: 150px;
    width: 100%;
    padding: 15px;
    background: #fff;
    border-radius: 30px;
    color: #499dff;
    text-align: center;
  }
  h1 {
    font-weight: 600;
    font-size: clamp(1.25rem, -0.625rem + 2.5vw, 2.5rem);
    color: #fdfdfd;
  }
}
.infaas {
  display: flex;
  flex-direction: column;
  gap: 20px;
  img {
    background: none;
    max-width: 65px;
  }
}
.infaas_1 {
  display: flex;
  align-items: center;
 
  color: #fdfdfd;
  border-bottom: 1px solid rgba(255, 255, 255, 0.521);
  padding-bottom: 12px;

  @media (max-width: 768px) {
    flex-direction: column;
  }

  p {
    font-weight: 600;
    font-size: 19px;
  }
}
.banner_crm {
  background-image: url(../../../public/Create.png);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 600px;
  width: 100%;
  background: #d9eafd;
  border-radius: 30px;
  padding: 100px 0 0;
  @media (max-width: 960px) {
    max-width: 400px;
  }
  img {
    width: 100%;
    max-width: 500px;
    @media (max-width: 960px) {
      max-width: 400px;
    }
  }
}
