.header__content {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(8, 16, 77, 1);
  /* @media (max-width: 900px) {
    max-width: 700px;
  } */
}

/* width: 800px; */
/* height: 500px;
padding: 30px 30px; */

.header__text {
  max-width: 380px;
  width: 100%;
  margin-top: 50px;
  padding: 0px 20px;
  text-align: start;
  h1 {
    color: #fff;
    font-size: clamp(1.563rem, -0.781rem + 3.13vw, 3.125rem);

    span {
      color: rgba(73, 157, 255, 1);
    }
  }

  @media (max-width: 380px) {
    padding: 0 5px;
  }
}

.invite {
  max-width: 340px;
  width: 100%;
  color: #fff;
  border-left: solid 3px rgba(73, 157, 255, 1);
  border-radius: 2px;
  padding: 0px 10px;
  margin-top: 100px;
}

.header__block {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  img {
    width: 100%;
    max-width: 380px;
  }
  @media (max-width: 760px) {
    flex-direction: column;
  }
}

.qwertyuio {
  max-width: 380px;
  width: 100%;
}
